{% extends "layout.html" %}

{% block pageTitle %}
Start page example
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Send money to someone in prison",
  serviceUrl: "/"
}) }}
{% endblock %}


{% block content %}
<div style="margin-top:-50px; margin-bottom:40px">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <span class="govuk-phase-banner__text">
        <a class="govuk-link" href="index">Contact us</a> if you need help or would like to give us some feedback.
      </span>
    </p>
  </div>
  <a href="contact_us" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Help with</span>
    <h1 class="govuk-heading-xl">
      [Something like] A general question
    </h1>

    <div class="govuk-inset-text govuk-lead">
      <p class="govuk-!-font-weight-bold">
        Only use this page if you don't have details about a payment...this will be the slowest and most unreliable way to try and get an answer.
      </p>
      <p class="">Before using this page check the <a href="contact_us" class="govuk-link">help pages</a>
      </p>
    </div>

    <fieldset class="govuk-fieldset">

      <div class="govuk-form-group">
        <label class="govuk-label" for="more-detail">
          Enter your questions or feedback
        </label>
        <span id="more-detail-hint" class="govuk-hint">
          Don’t include bank details or other personal information
        </span>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>


      <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          Your email address
        </label>
        <span class="govuk-hint">We need this so that we can send you a reply</span>
        <input class="govuk-input govuk-!-width-two-thirds" id="email" name="email" type="text">
      </div>


    </fieldset>

    <a class="govuk-button govuk-!-margin-top-3" data-module="govuk-button" href="help_thank_you">
      Send
    </a>

  </div>


</div>
{% endblock %}
