// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// interruption card from home office
.flash-card {
  margin-top: 1em;
  padding: 30px;
  background: #005EA5;
  color: #FFF;

  header {
    background-color: inherit;
  }

  ul.how-to-renew {
    padding-left: 0;
    list-style: none;

    h2 {
      margin: 0;
      margin-bottom: 0;
      padding: 0;
      color: #FFF;
      font-size: 28px;
    }

    li {
      margin-bottom: 22px;
    }
  }

  h1 {
    color: #FFF;
    &:first-of-type {
      margin-top: 0 !important;
    }
  }

  a {
    color: #FFF;
    &:visited, &:hover, &:active {
      color: #FFF; }
    }
    details {
      // margin-bottom: 1em;
      summary {
        color: #FFF;
      }
      .panel {
        border-left-color: #FFF;
      }
    }
  }

  @media (min-width: 769px) {
    .flash-card {
      margin-top: 1.25em;
      // padding: 35px 50px;
    }
  }

  .button-white{
    background-color: white;
    color: #0b0c0c;
  }
  .button-white:hover{
    background-color: #f3f2f1;
  }

  // hacks
  .mtp-table{
    text-align: left;
  }
  .mtp-table th{
    font-weight: normal;
    padding-right: 15px;
    padding-bottom: 5px;
  }
  .mtp-table td{
    font-weight: bold;
  }
