{% extends "layout.html" %}

{% block pageTitle %}
Start page example
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Send money to someone in prison",
  serviceUrl: "/"
}) }}
{% endblock %}

{% block content %}
<div style="margin-top:-50px; margin-bottom:40px">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <span class="govuk-phase-banner__text">
        <a class="govuk-link" href="index">Contact us</a> if you need help or would like to give us some feedback.
      </span>
    </p>
  </div>
  <a href="#" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="#1">FAQs</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="contact_us">Contact us</a>
        </li>

      </ul>

    </nav>

    <h1 class="govuk-heading-l">
      Check if the answer to your question is here before contacting us
    </h1>

    <ul class="govuk-list">

      <p class="govuk-heading-s">Questions about a payment I want to make or am trying to make</p>

      <li><a href="#q2">Can you tell me the prisoner number or their date of birth?</a></li>

      <li><a href="#q3">How do I make a payment from abroad?</a></li>

      <li><a href="#q4">Can I send money to a Scottish prison?</a></li>

      <div class="govuk-!-margin-top-5"></div>

      <p class="govuk-heading-s">Questions about a payment made in the past</p>

      <li><a href="#q6">Can I cancel a payment?</a></li>

      <li><a href="#q7">Will my payment be transferred if a prisoner moves prisons?</a></li>

      <li><a href="#q8">Can I get a refund if the prisoner has been released?</a></li>

      <li><a href="#q9">You didn’t ask which prison it is - does it matter?</a></li>

      <li><a href="#q10">My payment went through but isn’t in the prisoner’s account - why not?</a></li>

      <li><a href="#q11">Why has my payment been refunded?</a></li>

      <li><a href="#q12">How does a prisoner know they’ve received a payment?</a></li>

      <li><a href="#q13">Does a prisoner know who a payment is from?</a></li>

      <li><a href="#q14">I’m worried about the safety of a prisoner I’ve sent a payment to - what should I do?</a></li>

    </ul>

    <div class="govuk-!-margin-top-9">

    </div>

    <h3 class="govuk-heading-m" id="q1">Question about a payment I want to make or am trying to make</h3>

    <p class="govuk-heading-s" id="q2">Can you tell me the prisoner number or their date of birth?</p>
    <p class="govuk-body">No. By law we can't give out confidential prisoner information. Ask the prisoner for these details.</p>

    <p class="govuk-heading-s" id="q3">How do I make a payment from abroad?</p>
    <p class="govuk-body">You can only make a payment from outside the UK using a debit card (Visa, Mastercard or Maestro). We don't accept credit cards or prepaid debit cards.</p>

    <p class="govuk-heading-s" id="q4">Can I send money to a Scottish prison?</p>
    <p class="govuk-body">No. Our service is only available in England and Wales. Call the Scottish prison directly or go to the <a href="https://www.sps.gov.uk/">[Scottish Prison Service]</a>.</p>

    <div class="govuk-!-margin-top-9"></div>

    <h3 class="govuk-heading-m" id="q5">Question about a payment made in the past</h3>

    <p class="govuk-heading-s" id="q6">Can I cancel a payment?</p>
    <p class="govuk-body">We can't cancel your payment because once it's gone through the system, it's non-refundable.</p>

    <p class="govuk-heading-s" id="q7">Will my payment be transferred if a prisoner moves prisons?</p>
    <p class="govuk-body">Your payment will be transferred to the new prison but it may take a few days.</p>

    <p class="govuk-heading-s" id="q8">Can I get a refund if the prisoner has been released?</p>
    <p class="govuk-body">Yes. Contact the prison and they’ll tell you what to do.</p>

    <p class="govuk-heading-s" id="q9">You didn’t ask which prison it is - does it matter?</p>
    <p class="govuk-body">No. The name of the prison does not affect the use of this service.</p>

    <p class="govuk-heading-s" id="q10">My payment went through but isn’t in the prisoner’s account - why not?</p>
    <p class="govuk-body">It can only be one of 2 things.</p>
    <p>One - If you paid by bank transfer, you may have made a mistake typing in the prisoner reference number. You will get an automatic refund around 4 days after you made the payment.</p>
    <p>Check for this refund in your bank account, then use the service again, carefully checking the details as you type them in.</p>

    <p>Two - if you paid by bank transfer from abroad, by CHAPS or in a bank branch in the UK, you'll need to ask the prison for a refund.</p>
    <p>To get a refund, write to the finance department at the prison.</p>
    <p>Include in the letter:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the prisoner's name, their prisoner number and their date of birth</li>
      <li>your name and address</li>
      <li>the payment date and the amount</li></ul>
      <p>The prison will refund you by cheque.</p>
    </p>

    <p class="govuk-heading-s" id="q11">Why has my payment been refunded?</p>
    <p class="govuk-body">You've got a refund because when you made your bank transfer, a piece of information was wrong or missing. Please try again, checking that you're using the right details.</p>

    <p class="govuk-heading-s" id="q12">How does a prisoner know they’ve received a payment?</p>
    <p class="govuk-body">The prisoner might get an account slip from the wing officer when a payment has reached their account, but this can take a few days and not all prisons use these slips.Ask the prisoner to check with their wing officer if the money has reached their account. But payments take up to 3 days after you sent it.</p>

    <p class="govuk-heading-s" id="q13">Does a prisoner know who a payment is from?</p>
    <p class="govuk-body">A prisoner will see the sender’s name on their account slip, but not all prisons give out these slips.</p>

    <p class="govuk-heading-s" id="q14">I’m worried about the safety of a prisoner I’ve sent a payment to - what should I do?</p>
    <p class="govuk-body">If you’re worried about a prisoner, contact the prison and tell them. They will put you through to the Safer Custody team or an orderly officer. Use [find a prisoner](https://www.gov.uk/find-prisoner) if you need to check what prison they're in.</p>

    <p>
      If you have not found the answer to your question <a href="contact_us">contact us</a>
    </p>

  </div>


</div>
{% endblock %}
