{% extends "layout.html" %}

{% block pageTitle %}
Start page example
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Send money to someone in prison",
  serviceUrl: "/"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l govuk-!-padding-top-0" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-full-width">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Payment successful
          </h1>
          <div class="govuk-panel__body">
            Your confirmation number is <br><strong>123A4B56</strong>
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <p>
              <svg width="30" height="40">
                <rect width="30" height="40" style="fill:rgb(0,0,0);stroke-width:3;stroke:rgb(0,0,0)" />
              </svg><a href="#" class="govuk-link" style="margin-left:10px">Print this page</a>
            </p>

            <div class="govuk-inset-text mtp-table">
              <table>
                <tbody>
                  <tr>
                    <th>Payment to:</th>
                    <td>Jilly Hall</td>
                  </tr>
                  <tr>
                    <th>Amount:</th>
                    <td>£10</td>
                  </tr>
                  <tr>
                    <th>Date payment made:</th>
                    <td>DD/MM/YYYY</td>
                  </tr>
                  <tr>
                    <th>Confirmation number:</th>
                    <td>123A4B56</td>
                  </tr>
                </tbody>
              </table>
            </div>


            <h2 class="govuk-heading-m">What happens next</h2>

            <ol class="govuk-list govuk-list--bullet">
              <li>We’ll email you a copy of this confirmation page. Please check your spam folder.</li>
              <li>Money usually takes less than 3 working days to reach a prisoner’s account, but may take longer.</li>
              <li>You’ll get a further email when the prisoner’s account has been credited to confirm your money has arrived.</li>
            </ol>

            <p class="govuk-body">
              <a href="#" class="govuk-link">Take a moment to rate this service?</a> (takes 30 seconds)
            </p>
          </div>
        </div>

      </div>
    </div>
  </main>
</div>
{% endblock %}
