{% extends "layout.html" %}

{% block pageTitle %}
Start page example
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      {% if serviceName %} {{ serviceName }} {% endif %}
    </h1>

    <p class="govuk-body">You can use this service to make a payment by Visa, Mastercard or Maestro debit card. Money usually takes less than 3 working days to reach a prisoner’s account, but it may take longer.</p>

    <p>This service is free and secure, and available in all prisons in England and Wales.</p>

    <a href="interrupt" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>

    <h2 class="govuk-heading-m"> Before you start</h2>
    <p>You’ll need the:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>prisoner’s date of birth</li>
      <li>prisoner number</li>
    </ul>


    <h2 class="govuk-heading-m">Help using the service</h2>

    <p>You can <a rel="external" href="/help_07_from_02_nov/contact_us">get help</a> with making a payment or with a payment already made.</p>

    <!-- <p>You can <a rel="external" href="/help_07_from_02_nov/contact_us">get help</a> with making a payment or ask a question about a payment you’ve already made.</p> -->

    <p class="govuk-heading-m">If you do not have a debit card</p>
    <p class="govuk-body">You can find out how to get one by <a href="/assisted_digital_routes/get_bank_account">setting up a bank account</a>.</p>

    <p class="govuk-heading-m">If you do not have access to this service</p>
    <p class="govuk-body">You can <a href="/assisted_digital_routes/apply_for_exemption">apply for an exemption</a> which, in exceptional circumstances, might allow you to send money in through the post.</p>

  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="staying_in_touch">
              Staying in touch with someone in prison
            </a>
          </li>
        </ul>
      </nav>
    </aside>

  </div>
</div>
{% endblock %}
