{% extends "layout.html" %}

{% block pageTitle %}
Start page example
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Send money to someone in prison",
  serviceUrl: "/promote_DD_option_04/pay_by_DD"
}) }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Your payment has been declined
    </h1>

    <p class="govuk-body-l">No money has been taken from your account.</br>Wait 5 days before you try again or the same will happen.</p>


    <p class="govuk-body">
      You could also:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Check you're using the same address and details as your bank</li>

      <li>Ask your bank if there are problems with your card</li>
    </ul>


  </div>


</div>
{% endblock %}
