{% extends "layout.html" %}

{% block pageTitle %}
Start page example
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Send money to someone in prison",
  serviceUrl: "/promote_DD_option_04/pay_by_DD"
}) }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Your payment has been declined
    </h1>

    <p class="govuk-body-l">No money has been taken from your account.</p>

    <p class="govuk-body">
      <strong>You must wait 5 days</strong> before trying to make another payment, even if you have money in the bank. <p class="govuk-body">In the meantime, check that the address and other card details are exactly the same as your bank holds.</p>

    </p>


  </div>


</div>
{% endblock %}
