{% extends "layout.html" %}

{% block pageTitle %}
Start page example
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Send money to someone in prison",
  serviceUrl: "/"
}) }}
{% endblock %}

<style media="screen">
.holder{
}
</style>

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Pay now by debit card
    </h1>

    <p class="govuk-body-l">Paying by debit card is the <strong>fastest</strong>, <strong>simplest</strong> and most <strong>reliable</strong> way of sending money to a prisoner - and it’s <strong>free</strong></p>
    <p class="govuk-!-margin-bottom-3">
      <span class="govuk-!-font-weight-bold govuk-body">Only Debit cards accepted</span>
      <div><img src="/public/images/visa_icon.png"  alt="" style="width:100px; padding-right:10px"/>
        <img src="/public/images/mc_vrt_pos.png"  alt="" style="width:100px; padding-right:10px"/>
        <img src="/public/images/maestro_vrt_pos.png"  alt="" style="width:100px; padding-right:10px"/>
      </div>
    </p>
    <p>
      You can complete your payment here using:
      Mastercard, Visa and Maestro debit cards.
      Money usually takes less than 3 working days to reach a prisoner’s account, but may take longer.
    </p>
    <p>
      You’ll get email confirmation of payment.
    </p>
    <p>
      You can make an international payment using a debit card.
    </p>
    <p class="govuk-inset-text">
      From January 2020, you will no longer be able to use a pre-paid debit card.
    </p>

    <a class="govuk-button govuk-!-margin-top-3" data-module="govuk-button" href="enter_prisoner_details">
      Continue
    </a>
    <a class="govuk-link" href="no_DD" style="display:block">I don't have a debit card</a>


  </div>


</div>
{% endblock %}
