{% extends "layout.html" %}

{% block pageTitle %}
Start page example
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Send money to someone in prison",
  serviceUrl: "/"
}) }}
{% endblock %}

{% block content %}
<div style="margin-top:-50px; margin-bottom:40px">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <span class="govuk-phase-banner__text">
        <a class="govuk-link" href="index">Contact us</a> if you need help or would like to give us some feedback.
      </span>
    </p>
  </div>
  <a href="#" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-l">Help</span>

    <h1 class="govuk-heading-l">What do you need help with?</h1>
    <ul class="govuk-list ">
      <li>
        <a class="govuk-link" href="help_trying_to_pay_faqs">Making a payment</a>
      </li>
      <li>
        <a class="govuk-link" href="help_past_payment_faqs">A payment I've already made</a>
      </li>
      <!-- <li>
        <a class="govuk-link" href="help_alternatives">Alternatives to this service</a>
      </li> -->
      <li>
        <a class="govuk-link" href="help_alternatives">I can't use this service</a>
      </li>

    </ul>



  </div>
  {% endblock %}
