{% extends "layout.html" %}

{% block pageTitle %}
Start page example
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Send money to someone in prison",
  serviceUrl: "/"
}) }}
{% endblock %}


{% block content %}
<div style="margin-top:-50px; margin-bottom:40px">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <span class="govuk-phase-banner__text">
        <a class="govuk-link" href="index">Contact us</a> if you need help or would like to give us some feedback.
      </span>
    </p>
  </div>
  <a href="contact_us" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Help with</span>
    <h1 class="govuk-heading-xl">
      A payment I've already made
    </h1>


    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-heading-m govuk-!-font-weight-regular">
          Contact us about a payment that has already been made. Give exact details so we can get back to you as soon as possible. All details can be found in your confirmation email.
        </h1>
        <h2 class="govuk-body"></h2>
      </legend>

      <div class="govuk-form-group">
        <label class="govuk-label" for="prisoner-number">
          Prisoner number
        </label>
        <span id="prisoner-number-hint" class="govuk-hint">
          For example, A1234BC
        </span>
        <input class="govuk-input govuk-input--width-10" id="prisoner-number" name="prisoner-number" type="text">
      </div>



      {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

      {{ govukDateInput({
        id: "dob",
        namePrefix: "dob",
        fieldset: {
          legend: {
            text: "Prisoner date of birth",
            isPageHeading: false,
            classes: "govuk-label"
          }
        },
        hint: {
          text: "For example, 28 04 1996"
        }
      }) }}


      <div class="govuk-form-group">
        <label class="govuk-label" for="sender-name">
          Sender name
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="sender-name" name="sender-name" type="text">
      </div>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "changed-name",
        name: "changed-name",
        fieldset: {
          legend: {
            text: "Type of payment",
            isPageHeading: true,
            classes: "govuk-body"
          }
        },
        items: [
        {
          value: "Debit card",
          text: "Debit card"
        },
        {
          value: "Bank Transfer",
          text: "Bank transfer"
        }
        ]
      }) }}

      {%- from "moj/components/currency-input/macro.njk" import mojCurrencyInput -%}

      {{ mojCurrencyInput({
        id: "amount-1",
        classes: "govuk-input--width-10",
        name: "amount",
        label: {
          text: "Payment amount",
          classes: "govuk-!-font-weight-normal"
        }
      }) }}

      {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

      {{ govukDateInput({
        id: "payment-date",
        namePrefix: "payment-date",
        fieldset: {
          legend: {
            text: "Date of payment",
            isPageHeading: false,
            classes: "govuk-label"
          }
        }
        ,
        hint: {
          text: "For example, 01 04 2020"
        }
      }) }}


      <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          Your email address
        </label>
        <span class="govuk-hint">We need this so that we can send you a reply</span>
        <input class="govuk-input govuk-!-width-two-thirds" id="email" name="email" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="more-detail">
          Give details:
        </label>

        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>


    </fieldset>

    <a class="govuk-button govuk-!-margin-top-3" data-module="govuk-button" href="help_thank_you">
      Send
    </a>

    <a class="govuk-link" href="help_service_question" style="display:block">I don't have this information</a>

  </div>


</div>
{% endblock %}
