{% extends "layout.html" %}

{% block pageTitle %}
Start page example
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Send money to someone in prison",
  serviceUrl: "/"
}) }}
{% endblock %}

{% block content %}
<div style="margin-top:-50px; margin-bottom:40px">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <span class="govuk-phase-banner__text">
        <a class="govuk-link" href="index">Contact us</a> if you need help or would like to give us some feedback.
      </span>
    </p>
  </div>
  <a href="#" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-l">Help with</span>

    <h1 class="govuk-heading-l">A payment I've already made</h1>

    <h1 class="govuk-body-l">
      Check if the answer is here before you contact us
    </h1>

    {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

    {{ govukAccordion({
      id: "accordion-default",
      items: [
      {
        heading: {
          text: "I want to cancel a payment"
        },
        content: {
          html: "<p class='govuk-body'>We can't cancel your payment because once it's gone through the system, it's non-refundable.</p>"
        }
      },
      {
        heading: {
          text: "The prisoner has moved prisons"
        },
        content: {
          html: "<p class='govuk-body'>Your payment will be transferred to the new prison but it may take a few days.</p>"
        }
      },
      {
        heading: {
          text: "The prisoner has been released"
        },
        content: {
          html: "<p class='govuk-body'>The prisoner needs to contact the prison and they’ll be sent a refund.</p>"
        }
      },
      {
        heading: {
          text: "Does the prisoner know they've got my money? "
        },
        content: {
          html: "<p class='govuk-body'>They might get an account slip from the wing officer when your money reaches their account, but this can take a few days and not all prisons use these slips.</br></br>
            Ask the prisoner to check with their wing officer to see if your money has reached their account. Remember, a payment can take up to 5 days.
          </p>"
        }
      },
      {
        heading: {
          text: "Does a prisoner know who sent the money?"
        },
        content: {
          html: "<p class='govuk-body'>A prisoner will see the name of who sent the money on their account slip, but not all prisons give these out. They could also ask a wing officer for the sender's name, but the prisoner has no access to a sender's personal or banking details.</p>"
        }
      },
      {
        heading: {
          text: "I’m worried about a prisoner"
        },
        content: {
          html: "<p class='govuk-body'>Contact the prison and they will put you through to an orderly officer or to the Safer Custody team where you can leave a message. You can [find a prisoner](https://www.gov.uk/find-prisoner) if unsure what prison they're in.</p>"
        }
      },
      {
        heading: {
          text: "You don’t ask which prison it is"
        },
        content: {
          html: "<p class='govuk-body'>You don't need the name of the prison to use this service.</p>"
        }
      },
      {
        heading: {
          text: "The prisoner hasn’t got my bank transfer"
        },
        content: {

          html: "<h3 class='govuk-body-lead'>From November 2nd, you will no longer be able to send money by bank transfer.
            <br/><br/>
            You will not be able to send in cash, cheques or postal orders by post either.
            <br/><br/>
            This service change will mean the best way to send money to someone in prison will be by debit card.
            <br/><br/>
            This change is to keep everyone who lives and works in prisons safe. If it means you can no longer use this service, there are <a href='help_alternatives'>alternatives</a>.
            <br/></br>Bank transfers submitted before November 2 will still work.</h3><p class='govuk-body'><strong>For bank transfers submitted before November 2:</strong> </br></br>
              1. If you paid by bank transfer, you may have made a mistake with the bank transfer prisoner reference. If you did, you will get an automatic refund about 4 days later into your bank account (shown as ‘MTP NOMS’). Check the refund is there, then use the service again, checking the details as you type.
            </br></br>
            2. The prisoner will not get your money if you paid by bank transfer from abroad, by CHAPS or in a UK bank branch.
          </br></br>
          To get a refund, write to the finance department at the prison, including:
        </br>
        • the prisoner's name, prisoner number and date of birth</br>
        • your name and address</br>
        • the payment date and the amount</br></br>
        The prison will refund you by cheque.</p>"
      }
    },
    {
      heading: {
        text: "My payment has been refunded"
      },
      content: {
        html: "<h3 class='govuk-body-lead'>From November 2nd, you will no longer be able to send money by bank transfer.
          <br/><br/>
          You will not be able to send in cash, cheques or postal orders by post either.
          <br/><br/>
          This service change will mean the best way to send money to someone in prison will be by debit card.
          <br/><br/>
          This change is to keep everyone who lives and works in prisons safe. If it means you can no longer use this service, there are <a href='help_alternatives'>alternatives</a>.
          <br/></br>Bank transfers submitted before November 2 will still work.</h3><p class='govuk-body'><strong>For bank transfers submitted before November 2:</strong> </br></br>This is because a piece of information was wrong or missing when you made your bank transfer. Please try again. Check you're using the right details. Check you’ve typed them in correctly, especially the bank transfer prisoner reference.</p>"
      }
    }
    ]
  }) }}

  <p class="govuk-body">
    If you haven't found the answer:
  </p>
  <a href="help_past_payment" class="govuk-button">Contact us</a>

</div>
{% endblock %}
