{% extends "layout.html" %}

{% block pageTitle %}
Start page example
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Send money to someone in prison",
  serviceUrl: "/"
}) }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Pay now by debit card
    </h1>

    <p class="govuk-body-l">Paying by debit card is the <strong>easiest and most reliable</strong> way of getting money to a prisoner.</p>


    <ol class="govuk-list govuk-list--number">
      <li>You can complete your payment here using Mastercard, Visa and Maestro debit cards</li>
      <li>The money should take up to 3 working days to reach the prisoner’s account</li>
      <li>You’ll get email confirmation of payment</li>
      <li>You can make an international payment using a debit card</li>
    </ol>

    <a class="govuk-button" data-module="govuk-button" href="enter_prisoner_details">
      Continue
    </a>
    <a class="govuk-link" href="no_DD" style="display:block">I do not have a debit card</a>


  </div>


</div>
{% endblock %}
