{% extends "layout.html" %}

{% block pageTitle %}
Start page example
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Send money to someone in prison",
  serviceUrl: "/"
}) }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="moj-banner moj-banner--warning">

      <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
      <path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z" /></svg>

        <div class="moj-banner__message">

          <h2 class="govuk-heading-m">Service change from November 2nd</h2>
          <p class="govuk-body">
            From November 2nd, you will no longer be able to use this page to send money by bank transfer.
          </p>
          <p class="govuk-body">
            You will not be able to send in cash, cheques or postal orders by post either.
          </p>
          <p class="govuk-body">
            This service change will mean the best way to send money to someone in prison will be by debit card.
          </p>
          <p class="govuk-body">
            This change is to keep everyone who lives and works in prisons safe. If it means you can no longer use this service, there are <a href="/help_07/help_alternatives">alternatives</a>.
          </p>
        </div>

      </div>


      <h1 class="govuk-heading-xl">
        Get a prisoner reference to make your UK bank transfer
      </h1>
      <p>
        You’ll get a prisoner reference so you can make a bank transfer using:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>online banking</li>
        <li>mobile banking app</li>
        <li>telephone banking</li>
      </ul>
      <p>
        You can re-use this reference for this prisoner each time you make a transfer.
        The money should take around 3 days to reach the prisoner’s account.
        You won’t get email confirmation after your bank transfer.
      </p>

      <p class="govuk-!-font-weight-bold">
        You can't
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>go into a bank branch to transfer money</li>
        <li>transfer money from a bank account outside the UK</li>
        <li>make a payment by CHAPS</li>
      </ul>


      <p class="govuk-inset-text"><a href="pay_by_DD">Paying by debit card</a>  is fast, simple, reliable and free and the best way to send money to someone in prison.</p>

      <a class="govuk-button govuk-!-margin-top-3" data-module="govuk-button" href="enter_prisoner_details_bank_transfer">
        Continue
      </a>


    </div>


  </div>
  {% endblock %}
