{% extends "layout.html" %}

{% block pageTitle %}
Start page example
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Staying in touch with someone in prison
    </h1>
    <p class="govuk-body-s">
      Contents
    </p>

    <ul class="govuk-list" style="font-size:16px !important">
      <li>– <a href="#">Letters and telephone calls</a></li>
      <li>– <a href="#">Email and social media</a></li>
      <li>– <a href="#">Banned items</a></li>
      <li>– Sending money</li>
      <li>– <a href="#">Visiting someone in prison</a></li>
    </ul>

  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds">

    <div class="moj-banner">

      <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
        <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
        C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" /></svg>

        <div class="moj-banner__message">

          <h2 class="govuk-heading-m">Service change from November 2nd</h2>
          <p class="govuk-body">
            A service change on November 2nd will mean the best way to send money to someone in prison will be by debit card.
          </p>
          <p class="govuk-body">
            You will no longer be able to:
            <ul class="govuk-list govuk-list--bullet">
              <li>send money by bank transfer</li>
              <li>send in cash, cheques or postal orders by post</li>
            </ul>
          </p>
          <p class="govuk-body">
            This change is to keep everyone who lives and works in prisons safe.</br>If it means you can no longer use this service, you can <a href="/help_07/contact_us">get help</a>.
          </p>
        </div>

      </div>

      <h2 class="govuk-heading-m">Sending money</h2>
      <p>Until November 2nd, you can send money to someone in prison in a number of ways.</p>

      <h2 class="govuk-heading-m">Debit card</h2>

      <p>You can make an <a href="start">online payment by Visa, Mastercard and Maestro debit card</a>.</p>

      <h2 class="govuk-heading-m">If you cannot use a debit card</h2>

      <p class="govuk-body">You can transfer money by:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>online banking</li>
        <li>mobile banking app</li>
        <li>telephone banking</li>
      </ul>

      <p class="govuk-body">You’ll need to <a href="/send-prisoner-money">get bank details and a reference for the prisoner</a> you want to send money to. Include the reference when you transfer the money.</p>

      <h2 class="govuk-heading-m">Cheques, postal orders and cash</h2>

      <p class="govuk-body">Cheques or postal orders (payable to ‘<abbr title="National Offender Management Service">NOMS</abbr> Agency’) are more secure but you can also send cash.</p>

      <p class="govuk-body">You should address your envelope to the governor of the prison and your letter should include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your name and address</li>
        <li>the prisoner’s name and prison number</li>
      </ul>

      <p class="govuk-body">The money is then paid into the prisoner’s account - a basic cash account they can use to send and receive money.</p>


    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary" style="border-top:2px solid #1d70b8">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Support for families and friends of prisoners
              </a>
            </li>
            <li>
              <a href="#">
                Prison life
              </a>
            </li>
            <li>
              <a href="#">
                Find a prisoner
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
  {% endblock %}
