{% extends "layout.html" %}

{% block pageTitle %}
Start page example
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Staying in touch with someone in prison
    </h1>
    <p class="govuk-body-s">
      Contents
    </p>

    <ul class="govuk-list" style="font-size:16px !important">
      <li>– <a href="#">Letters and telephone calls</a></li>
      <li>– <a href="#">Email and social media</a></li>
      <li>– <a href="#">Banned items</a></li>
      <li>– Sending money</li>
      <li>– <a href="#">Visiting someone in prison</a></li>
    </ul>

  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">Sending money</h2>
    <p class="govuk-body">You can send money to someone in prison in a number of ways.</p>
    <p class="govuk-inset-text">From 2 November 2020, you will no longer be able to send money by bank transfer, cheque, postal order or send cash by post to any prison. You'll need to use a debit card instead.</p>

    <h2 class="govuk-heading-m">Debit card</h2>

    <p>You can make an <a href="start">online payment by Visa, Mastercard and Maestro debit card</a>.</p>

    <h2 class="govuk-heading-m">If you cannot use a debit card</h2>

    <p class="govuk-body">You can transfer money by:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>online banking</li>
      <li>mobile banking app</li>
      <li>telephone banking</li>
    </ul>

    <p class="govuk-body">You’ll need to <a href="/send-prisoner-money">get bank details and a reference for the prisoner</a> you want to send money to. Include the reference when you transfer the money.</p>

    <h2 class="govuk-heading-m">Cheques, postal orders and cash</h2>

    <p class="govuk-body">Some prisons accept cheques or postal orders. You can find out who to make it payable to on the relevant <a href="/government/collections/prisons-in-england-and-wales">prison information page</a>. Cheques and postal orders are more secure but you can also send cash.</p>

    <p class="govuk-body">You should address your envelope to the governor of the prison and your letter should include:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>your name and address</li>
      <li>the prisoner’s name and prison number</li>
    </ul>

    <p class="govuk-body">The money is then paid into the prisoner’s account - a basic cash account they can use to send and receive money.</p>


  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary" style="border-top:2px solid #1d70b8">
      <h2 class="govuk-heading-s" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="#">
              Support for families and friends of prisoners
            </a>
          </li>
          <li>
            <a href="#">
              Prison life
            </a>
          </li>
          <li>
            <a href="#">
              Find a prisoner
            </a>
          </li>
        </ul>
      </nav>
    </aside>

  </div>
</div>
{% endblock %}
