
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Send money to a someone in prison</span>
    <h1 class="govuk-heading-xl">
      MTP Prototypes
    </h1>

    <p class="govuk-heading-s">Help
    </p>
    <ul class="govuk-list">
      <li><a href="/help_01/index">Iteration 01</a></li>
      <li><a href="/help_02/index">Iteration 02</a></li>

    </ul>

    <p class="govuk-heading-m govuk-!-margin-top-6">
      Promote Debit card
    </p>
    <p class="govuk-heading-s">Flows
    </p>
    <ul class="govuk-list">
      <li><a href="/promote_DD_option_01/start">Iteration 01</a></li>
      <li><a href="/promote_DD_option_02/start">Iteration 02</a></li>
      <li><a href="/promote_DD_option_03/start">Iteration 03</a></li>
      <li><a href="/promote_DD_option_04/start">Iteration 04</a></li>
    </ul>
    <p class="govuk-heading-s">Emails
    </p>
    <ul class="govuk-list">
      <li><a href="/promote_DD_option_04/email_payment_being_delayed">Payment being delayed</a></li>
      <li><a href="/promote_DD_option_04/email_delayed_payment_accepted">Delayed payment accepted</a></li>
      <li><a href="/promote_DD_option_04/email_delayed_payment_rejected">Delayed payment rejected</a></li>
      <li><a href="/promote_DD_option_04/email_payment_expired">Payment expired</a></li>
    </ul>

    <p class="govuk-heading-m">
      £900 account cap
    </p>
    <ul class="govuk-list">
      <li><a href="/account_cap/enter_amount_error_01">Payment would take prisoner's account over £900</a></li>
      <li><a href="/account_cap/enter_amount_error_02">Prisoner's account already has more than £900</a></li>
    </ul>

    <p class="govuk-heading-m">
      Payment errors
    </p>
    <ul class="govuk-list">
      <li><a href="/errors/pay_by_DD">Payment declined</a></li>
    </ul>

    <p class="govuk-heading-m">
      Private prisons
    </p>
    <ul class="govuk-list">
      <li><a href="/private_prisons/start_option_01">Start page - option 01</a></li>
      <li><a href="/private_prisons/start_option_02">Start page - option 02</a></li>
    </ul>

</div>
</div>

{% endblock %}
