
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Send money to a someone in prison</span>
    <h1 class="govuk-heading-xl">
      MTP Prototypes
    </h1>

    <!-- private_prisons/start_option_02 -->

    <p class="govuk-heading-s">Policy change 02 November
    </p>
    <ul class="govuk-list">
      <li><a href="/policy_change_phase_01/start">Phase 01</a> - Upcoming changes - Sept 16th - Nov 1st (before)</li>
      <li><a href="/policy_change_phase_02/start">Phase 02</a> - 2nd Nov changes - Nov 2nd only (during)</li>
      <li><a href="/policy_change_phase_03/start">Phase 03</a> - Post 2nd Nov changes - Nov 2nd - indefinitely (after)</li>
    </ul>

    <p class="govuk-heading-s">New flow with 'user agreement'
    </p>
    <ul class="govuk-list">
      <li><a href="/private_prisons/start_option_02">Flow</a></li>
      <li><a href="/promote_DD_option_04/interrupt_04">Continue page - to build</a></li>
      <li><a href="/promote_DD_option_04/payment_pending_debit_04">Confirmation page 'on hold' amended - to build</a></li>
      <li><a href="email_on_hold_amended">Email 'on hold' amended - to build </a></li>

    </ul>

    <p class="govuk-heading-s">Help
    </p>
    <ul class="govuk-list">
      <li><a href="/help_01/index">Iteration 01</a></li>
      <li><a href="/help_02/index">Iteration 02</a> open FAQs</li>
      <li><a href="/help_03/index">Iteration 03</a> FAQs anchor links</li>
      <li><a href="/help_04/contact_us">Iteration 04</a> FAQs anchor links in context</li>
      <li><a href="/help_05/contact_us">Iteration 05</a> FAQs accordians in context - option to build</li>
    </br>
    <p class="govuk-heading-s">
      Help - Iterations post live
      <span class="govuk-body"></br><i>Addressing:</i></br>1464 - Assisted digital - Exemptions (alternative routes, get a bank account and exemptions)</br>1506 - Update to Contact page</span>
    </p>
    <!-- <li><a href="/help_06/contact_us">Option 01</a> Alternatives (get bank account and exemptions) added to FAQs about 'Making a payment'. No direct link to free entry contact us form. Free entry form accessible at end of bespoke forms.</li> -->
    <li><a href="/help_07/contact_us">Option 01</a> Alternatives (get bank account and exemptions) have own page linked to from help home. No direct link to free entry contact us form. Free entry form accessible at end of bespoke forms.</li>
  </ul>

  <p class="govuk-heading-m govuk-!-margin-top-6">
    Promote Debit card
  </p>
  <p class="govuk-heading-s">Flows
  </p>
  <ul class="govuk-list">
    <li><a href="/promote_DD_option_01/start">Iteration 01</a></li>
    <li><a href="/promote_DD_option_02/start">Iteration 02</a></li>
    <li><a href="/promote_DD_option_03/start">Iteration 03</a></li>
    <li><a href="/promote_DD_option_04/start">Iteration 04</a></li>
  </ul>
  <p class="govuk-heading-s">Emails
  </p>
  <ul class="govuk-list">
    <li><a href="/promote_DD_option_04/email_payment_being_delayed">Payment being delayed</a></li>
    <li><a href="/promote_DD_option_04/email_delayed_payment_accepted">Delayed payment accepted</a></li>
    <li><a href="/promote_DD_option_04/email_delayed_payment_rejected">Delayed payment rejected</a></li>
    <li><a href="/promote_DD_option_04/email_payment_expired">Payment expired</a></li>
  </ul>

  <p class="govuk-heading-m">
    £900 account cap
  </p>
  <ul class="govuk-list">
    <li><a href="/account_cap/enter_amount_error_01">Payment would take prisoner's account over £900</a></li>
    <li><a href="/account_cap/enter_amount_error_02">Prisoner's account already has more than £900</a></li>
    <li><a href="/account_cap/enter_amount_error_03">Generic message for £900 cap breach scenarios</a></li>
  </ul>

  <p class="govuk-heading-m">
    Payment errors
  </p>
  <ul class="govuk-list">
    <li><a href="/errors/pay_by_DD">Payment declined</a></li>
  </ul>

  <p class="govuk-heading-m">
    Private prisons
  </p>
  <ul class="govuk-list">
    <li><a href="/private_prisons/start_option_01">Start page - option 01</a></li>
    <li><a href="/private_prisons/start_option_02">Start page - option 02</a></li>
  </ul>

</div>
</div>

{% endblock %}
