{% extends "layout.html" %}

{% block pageTitle %}
Start page example
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Send money to someone in prison",
  serviceUrl: "/"
}) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p>
      Dear sender,
    </p>
    <p>
      We’re sorry to tell you that the <strong>payment session expired</strong> before your payment could be taken.
    </p>

    <p>This payment has <strong>not</strong> gone through to the prisoner’s account.</p>


    <p>
      <div class="govuk-inset-text mtp-table" style="margin-left:15px">
        <table>
          <tbody>
            <tr>
              <th>Payment to:</th>
              <td>Prisoner Name (A1234BC)</td>
            </tr>
            <tr>
              <th>Amount:</th>
              <td>£XX</td>
            </tr>
            <tr>
              <th>Reference:</th>
              <td>HDJ2123F</td>
            </tr>
          </tbody>
        </table>
      </div>
    </p>

    <p><strong>What now?</strong></p>
    <p>
      Your debit card payment has <strong>not</strong> been taken from your account.
      Please go to <a href="https://www.gov.uk/send-prisoner-money">Send money to someone in prison</a> and try again.
    </p>

    <p>
      If you’re worried about a prisoner, <a href="#">email us</a> and we can inform the prison.
    </p>

    <p>
      We’re sorry for any inconvenience this may have caused.
      <p>
        <a href="#">Contact us</a> if this keeps happening.</p>
      </p>

      <p>
        Kind regards,
      </p>

      <p>
        Prisoner Money team
      </p>
    </div>
  </div>
  <div class="govuk-!-margin-top-9">
  </div>
  <p style="color:red;" >(The footer below would not be shown, I just can't work out how to hide it!)</p>
  {% endblock %}
