{% extends "layout.html" %}

{% block pageTitle %}
Start page example
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Send money to someone in prison",
  serviceUrl: "/"
}) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p>
      Dear sender,
    </p>
    <p>
      <strong>This payment has NOT been sent to the prisoner</strong>
    </p>

    <p>
      <div class="govuk-inset-text mtp-table" style="margin-left:15px">
        <table>
          <tbody>
            <tr>
              <th>Payment to:</th>
              <td>Prisoner Name (A1234BC)</td>
            </tr>
            <tr>
              <th>Payment amount:</th>
              <td>£XX</td>
            </tr>
          </tbody>
        </table>
        <span style="color:red;">(would anything else go in here ^^^ ?)</span>
      </div>
    </p>

    <p>
      We’re emailing to let you know that this payment has not gone through this time.
    </p>

    <p>
      HMPPS has strict security measures that sometimes mean payments can’t be allowed to go through to the prisoner.
    </p>

    <p><strong>What now?</strong></p>
    <p>Your debit card payment has not been taken from your account.</p>

    <p>If you need further assistance with this, <a href="#">please email us</a>.</p>


    <p>We’re sorry for any inconvenience this may have caused.</p>

    <p>
      Kind regards,
    </p>

    <p>
      Prisoner Money team
    </p>
  </div>
</div>
<div class="govuk-!-margin-top-9">
</div>
<p style="color:red;" >(The footer below would not be shown, I just can't work out how to hide it!)</p>
{% endblock %}
