{% extends "layout.html" %}

{% block pageTitle %}
Start page example
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Send money to someone in prison",
  serviceUrl: "/"
}) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p>
      Dear sender,
    </p>
    <p>
      <strong>This payment has been put on hold </strong>
    </p>

    <p>
      <div class="govuk-inset-text mtp-table" style="margin-left:15px">
        <table>
          <tbody>
            <tr>
              <th>Payment number:</th>
              <td>XXXXXXXX</td>
            </tr>
            <tr>
              <th>Account number:</th>
              <td>10018743</td>
            </tr>
            <tr>
              <th>Sort code:</th>
              <td>60-70-80</td>
            </tr>
            <!-- <tr>
            <th style="color:red;">(would anything else go in here?)</th>
          </tr> -->
        </tbody>
      </table>
      <span style="color:red;">(would anything else go in here ^^^ ?)</span>
    </div>
  </p>

  <p>
    We’re emailing to let you know that this payment has been put on hold for up to 5 days.
  </p>

  <p>
    This is because HMPPS needs to do regular security checks.
  </p>

  <p>
    If you’re worried about a prisoner who might urgently need this money, or who might be at risk if they don’t get it, <a href="#">please email us</a> and we can inform the prison as soon as we can.
  </p>

  <p>
    We’ll email you a payment update as soon as we can and are sorry for any inconvenience this may cause.
  </p>

  <p>
    Kind regards,
  </p>

  <p>
    Prisoner Money team
  </p>
</div>
</div>
<div class="govuk-!-margin-top-9">
</div>
<p style="color:red;" >(The footer below would not be shown, I just can't work out how to hide it!)</p>
{% endblock %}
