{% extends "layout.html" %}

{% block pageTitle %}
Start page example
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Send money to someone in prison",
  serviceUrl: "/"
}) }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="moj-banner">

      <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
        <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
        C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" /></svg>

        <div class="moj-banner__message">

          <h2 class="govuk-heading-m">Service changes from November 2nd</h2>
          <p class="govuk-body">
            A policy change on November 2nd will mean the best way to send money to someone in prison will be by debit card. <br><br>
            You will no longer be able to use this service to send money by bank transfer. And you won't be able to send in cash, cheques or postal orders.</br><br>
            The policy change is to keep everyone who lives and works in prisons safe.
          </p>
          <p class="govuk-body">
            If you can not use this service or don't have a bank account, there are <a href="/help_07/help_alternatives">alternatives</a>.
          </p>
        </div>

      </div>


      <h1 class="govuk-heading-xl">
        Pay now by debit card
      </h1>

      <p class="govuk-body-l">Paying by debit card is the <strong>fastest</strong>, <strong>simplest</strong> and most <strong>reliable</strong> way of sending money to a prisoner - and it’s <strong>free</strong></p>

      <p>
        You can complete your payment here using Mastercard, Visa and Maestro debit cards.
        Money usually takes less than 3 working days to reach a prisoner’s account, but may take longer.
      </p>
      <p>
        You’ll get email confirmation of payment.
      </p>
      <p>
        You can make an international payment using a debit card.
      </p>
      <p class="govuk-inset-text">
        From January 2020, you will no longer be able to use a pre-paid debit card.
      </p>

      <a class="govuk-button govuk-!-margin-top-3" data-module="govuk-button" href="enter_prisoner_details">
        Continue
      </a>
      <a class="govuk-link" href="no_DD" style="display:block">I don't have a debit card</a>
<!-- </br>
      <a class="govuk-link" href="/assisted_digital_routes/get_bank_account" style="display:block">I don't have a bank account</a> -->


    </div>


  </div>
  {% endblock %}
