{% extends "layout.html" %}

{% block pageTitle %}
Start page example
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Send money to someone in prison",
  serviceUrl: "/"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l govuk-!-padding-top-0" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-full-wdith">
        <div class="govuk-panel govuk-panel--confirmation" style="background-color:#1d70b8">
          <h1 class="govuk-panel__title">
            This payment has been put on hold for up to 5 days
          </h1>
          <div class="govuk-panel__body">
            Reference: <strong>HDJ2123F</strong>
          </div>
        </div>


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <p>
              <svg width="30" height="40">
                <rect width="30" height="40" style="fill:rgb(0,0,0);stroke-width:3;stroke:rgb(0,0,0)" />
              </svg><a href="#" class="govuk-link" style="margin-left:10px">Print this page</a>
            </p>

            <!-- <p class="govuk-!-margin-top-6">
              <strong>This payment has been put on hold for up to 5 days.</strong>
            </p> -->

            <div class="govuk-inset-text mtp-table" style="margin-left:15px">
              <table>
                <tbody>
                  <tr>
                    <th>Payment to:</th>
                    <td>Prisoner Name (A1234BC)</td>
                  </tr>
                  <tr>
                    <th>Amount:</th>
                    <td>£XX</td>
                  </tr>
                  <tr>
                    <th>Reference:</th>
                    <td>HDJ2123F</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <p>
              To maintain a high level of prison safety we do regular security checks.
            </p>

            <p>
              We’ll email you a payment update as soon as we can and are sorry for any inconvenience this may cause.
            </p>

            <p>
              If you’re worried about a prisoner, email <a href="#">moneyteam@email.com</a> and we can inform the prison.
            </p>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
